@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --theme-color: #B91805;
    --theme-color-2: #b9170552;
    --gold-color: #e9b010;
    --ff-roboto: 'Roboto', sans-serif;

}

* {
    box-sizing: border-box;
    font-family: var(--ff-roboto);
}

body {
    margin: 0;
    padding: 0;
}

.header1 {
    height: 60px;
    width: 100%;
    background-color: var(--theme-color);
    display: flex;
    justify-content: space-between;
}

.header1 .button-group {
    background-color: var(--theme-color);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.header1 .notice {
    background-color: var(--theme-color);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header1 .button-group .btn {
    height: 60%;
    width: 30%;
    border: 2px solid white;
    border-radius: 0px;
    background: white;
    color: black;
    transition: all 0.5s ease;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.header1 .button-group .btn:hover {
    background-color: var(--theme-color);
    color: white
}

.header1 .notice .notice-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.notice-title {
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.main-notice {
    width: 100%;
}

.main-notice marquee {
    display: flex;
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
}

.main-notice marquee span {
    color: var(--gold-color);
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    height: 15vh;
}

.header2.active {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    border-bottom: 2px solid var(--theme-color);
    z-index: 1;
}

.header2 .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header2 .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    width: 80%;
}

.header2 .nav .nav-item {
    font-size: 15px;
    font-family: var(--ff-roboto);
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.25s ease;
}

.header2 .nav .nav-item.active {
    color: var(--theme-color);
}

.header2 .nav .nav-item:hover {
    color: var(--gold-color);
}

#slider-container {
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    background-position: center;
    transition: all 0.5s ease;
}

#slider-container .slider-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;
    font-weight: bolder;
}

#slider-container .slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    gap: 25px;
}

.img-section .caption {
    font-size: 18px;
    color: #444444;
    font-family: var(--ff-roboto);
    font-weight: 500;
    line-height: 1.5;
}

.img-section .caption span {
    font-weight: bold;
}

.featured-courses {
    padding-block: 70px;
    padding-inline: 50px;
    background-color: #F5F5F5;
}

.featured-courses .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-courses .heading .title {
    color: #002045;
    font-size: 30px;
    font-family: var(--ff-roboto);
    font-weight: bold;
}

.featured-courses .heading .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.featured-courses .heading .controls .controls-btn {
    background-color: var(--theme-color);
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
}

.featured-courses .body {
    width: 100%;
    padding-block: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;

}




.featured-courses .body .card {
    width: 30%;
    height: 400px;
    background-color: white;
}

.featured-courses .body .card .card-img {
    height: 50%;
}

.featured-courses .body .card .card-img img {
    height: 100%;
    width: 100%;
}

.featured-courses .body .card .details {
    padding-block: 30px;
    padding-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 10px;
    flex-direction: column;
}

.vid-section {
    width: 100%;
    height: 71vh;
    background-image: url(../Images/video-thumbnail.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vid-section .glass {
    height: 100%;
    width: 100%;
    background-color: var(--theme-color-2);
    overflow: hidden;
}

.vid-section .glass .content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vid-section .glass .content-container .vid-section-text {
    width: 85%;
    text-align: center;
    line-height: 1.5;
    padding-block-end: 50px;
    font-size: 36px;
    font-weight: 400;
    font-family: var(--ff-roboto);
    color: #fff;
}

.vid-section .glass .content-container .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    font-size: 24px;
    border: 3px solid var(--gold-color);
    border-radius: 50%;
    transition: all 1s ease;
    color: #fff;
    opacity: 0;
}

.vid-section .glass .content-container .play-btn.active {
    animation: pop-up 0.5s ease forwards;
}

.vid-section .glass .content-container .play-btn.no-active {
    animation: pop-down 0.5s ease forwards;
}

.vid-section .glass .content-container .play-btn:hover {
    border-color: #fff;
    color: var(--gold-color)
}

@keyframes pop-up {
    0% {
        transform: translateY(120px);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes pop-down {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(120px);
        opacity: 0;
    }
}

.news-and-events {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-block: 70px;
    padding-inline: 40px;
    width: 100%;
    background-color: #F5F5F5;
}

.latest-news {
    display: flex;
    justify-content: start;
    gap: 40px;
    flex-direction: column;
    width: 50%;
}

.upcoming-events {
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 40px;
    flex-direction: column;
}

.latest-news .latest-news-head {
    padding-block: 20px;
    font-size: 36px;
    font-family: var(--ff-roboto);
}

.latest-news .latest-news-body {
    height: 90vh;
    width: 100%;
    background-color: #fff;
}

.latest-news .latest-news-body .list {
    height: calc(100% / 3);
    width: 100%;
    display: flex;

}

.latest-news .latest-news-body .list:not(:last-child) {
    border-bottom: 1px solid #F5F5F5;
}

.latest-news .latest-news-body .list .img {
    width: 40%;
    height: 100%;
    padding: 15px;
}

.latest-news .latest-news-body .list .img img {
    height: 100%;
    width: 100%;
}

.latest-news .latest-news-body .list .details {
    height: 100%;
    width: 60%;
    padding-block: 17px;
    padding-inline: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.latest-news .latest-news-body .list .details .title {
    font-size: 18px;
    font-family: var(--ff-roboto);
    color: #002045;
    font-weight: 600;
}

.latest-news .latest-news-body .list .details .date {
    font-size: 14px;
    font-family: var(--ff-roboto);
    color: var(--theme-color);
    font-weight: 500;
}

.latest-news .latest-news-body .list .details .des {
    font-size: 15px;
    font-family: var(--ff-roboto);
    color: #444444;
}

.latest-news .latest-news-body .list .details .des a {
    color: #0D6EFD;
    text-decoration: none;
}

.latest-news .view-more,
.upcoming-events .view-more {
    height: 45px;
    width: 120px;
    margin: auto;
    border: 2px solid transparent;
    background-color: var(--theme-color);
    font-size: 14px;
    font-family: var(--ff-roboto);
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-block-start: 10px;
}

.latest-news .view-more:hover,
.upcoming-events .view-more:hover {
    color: #fff;
    background-color: var(--gold-color);
    color: black;
}

.upcoming-events .upcoming-events-head {
    padding-block: 20px;
    font-size: 36px;
    font-family: var(--ff-roboto);
}


.upcoming-events .upcoming-events-body {
    height: 90vh;
    width: 100%;
    font-size: 36px;
    font-family: var(--ff-roboto);
    font-weight: 500;
    background-color: #fff;
    padding: 20px;
}

.header2 .nav a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header2 .nav a i{
font-size: 18px;
transition: all 0.5s ease;
}

.header2 .nav a:hover i{
    transform: rotate(-180deg);
}


.faq-section {
    display: flex;
}

.faq-section .faq-vid {
    width: 50%;
    height: 450px;
    background-image: url(../Images/faq-vid-thumb.webp);
    background-size: 100% 100%;
    background-position: center;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-section .faq-vid:hover{
    background-size: 110% 110%;
}



.faq-section .faq-vid .play-btn {
    height: 70px;
    width: 70px;
    border: 2px solid #fff;
    background-color: #fff;
    color: var(--theme-color);
    font-size: 24px;
    font-family: var(--ff-roboto);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease;
}

.faq-section .faq-vid .play-btn:hover {
    border-color: var(--gold-color);
}

.faq-section .faq-vid .play-btn.active{
    animation: pop-up 0.5s ease forwards;
    }
    
    .faq-section .faq-vid .play-btn.no-active{
        animation: pop-down 0.5s ease forwards;
    }

.faq-section .some-faq {
    background-color: var(--theme-color);
    width: 50%;
}

@media (max-width: 1024px) {
    .header1 {
        display: none;
    }
}